* {
    font-family: "Ethnocentric Rg", sans-serif;
}
button {
    width: 250px;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
}

#decrease {
    background-color: #ff0000;
}
#increase {
    background-color: #00ff00;
}

.wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}

.button-wrapper button {
    margin-bottom: 10px;
}

#counter {
    display: inline-block;
    font-size: 75px;
    font-weight: 700;
    color: #000;
    align-self: center;
    align-content: center;
    margin-top: 100px;
}
.title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #000;
}